body {
    margin: 1em;
    background: red;
    font-family: "Flamenco";
    text-align: center;
    margin: 0 0 10px 0;
    background-image: url("https://images.unsplash.com/photo-1605362001336-f91645086f32?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVkJTIwcGF0dGVybnxlbnwwfHwwfHx8MA%3D%3D");
}

h1 {
    color: white;
    font-family: "Flamenco";
}

button {
    color: white;
    background-color: maroon;
    font-family: Flamenco;
}

game {
    display: inline;
    /* DO NOT CHANGE display: inline */
}

.card {
    display: inline-block;
    /* DO NOT CHANGE display: inline-block */
    background-color: rgba(0, 0, 0, 1);
    background-size: 80px 120px;
    width: 80px;
    height: 120px;
    margin: 5px;
    border: 2px solid black;
}